In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('dirtydata.csv')
print(df1)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127    -300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132    -280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [3]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [4]:
print(df1.isnull())

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False      True
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False      True
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

In [5]:
print(df1.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [7]:
x = df1['Calories'].mean()
print(x)

266.0133333333333

In [10]:
df1['Calories'].fillna(x,inplace = True)

/tmp/ipykernel_13312/212620120.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Calories'].fillna(x,inplace = True)

In [11]:
print(df1)

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127 -300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  266.013333
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
22        45           NaN    100       119  282.000000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  266.013333
29        60  '2020/12/29'    100       132 -280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [12]:
print(df1.isnull())

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False     False
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False     False
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

In [14]:
df1['Calories']=df1['Calories'].abs()
print(df1)

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127  300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  266.013333
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
22        45           NaN    100       119  282.000000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  266.013333
29        60  '2020/12/29'    100       132  280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [16]:
#drop nan in date field
df1.dropna(subset='Date',inplace=True)

In [17]:
print(df1)

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127  300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  266.013333
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  266.013333
29        60  '2020/12/29'    100       132  280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [18]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     31 non-null     int64
 3   Maxpulse  31 non-null     int64
 4   Calories  31 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.5+ KB
None

In [20]:
print(df1.describe)

<bound method NDFrame.describe of     Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127  300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  266.013333
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  266.013333
29        60  '2020/12/29'    100       132  280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000>

In [22]:
df1['Date'] = pd.to_datetime(df1['Date'],format='mixed')
#converting Date int date-time format

In [24]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     31 non-null     int64
 3   Maxpulse  31 non-null     int64
 4   Calories  31 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 1.5 KB
None

In [25]:
df1['Calories'] = df1['Calories'].astype(int)
#converting calories into integer

In [27]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     31 non-null     int64
 3   Maxpulse  31 non-null     int64
 4   Calories  31 non-null     int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 1.5 KB
None

In [28]:
print(df1)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7        450 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       266
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       266
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [29]:
df1.loc[7,'Duration'] = 45
#changing duration 450 to 45

In [30]:
print(df1)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7         45 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       266
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       266
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [32]:
#checking duplicates
df1.duplicated().sum()

1

In [34]:
df1.drop_duplicates(inplace=True)
#dropping duplictes value

In [35]:
df1.duplicated().sum()

0